.card__remove-button {
    padding: 18px;
    align-self: last baseline;
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: 0.2s;
}

.card__remove-button_hidden {
    visibility: visible;
    opacity: 1;
}